.personal-data {
    max-width: 700px;
    width: 100%;
    position: relative;
    padding-top: 105px;
}

.personal-data-container {
    width: 100%;
    background: #fff;
    padding: 55px 30px 8px 30px;
    border-radius: 5px;
}

.personal-data-profile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    align-items: center;
}

.personal-data-profile .profileImage {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.user fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.user fieldset legend {
    font-size: 25px;
    font-weight: 500;
    padding: 8px;
}

.user .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 16px 0;
    padding-left: 8px;
}

.user .user__details-inputbox {
    margin-bottom: 16px;
    width: calc(100% / 2 - 20px);
}

.user .user__details-title {
    color: #9b59b6;
}

.user .user__details-inputbox label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.user .user__details-inputbox input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user .user__details-inputbox input {
    border-color: #9b59b6;
}

.personal-data-buttons {
    height: 45px;
    margin: 36px 0;
    display: flex;
    padding-left: 8px;
}

.personal-data-buttons input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding: 0 16px;
}

.personal-data-buttons .personal-data-buttons__send {
    cursor: pointer;
    border: none;
    color: #fff;
    width: 1086px;
    margin-right: 160px;
    text-shadow: 1px 1px #333;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.personal-data-buttons__send:hover {
    color: #fff;
    transform: translateY(-7px);
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.personal-data-buttons-pack {
    display: flex;
}

.personal-data-buttons .personal-data-buttons__disabled {
    border: none;
    color: #c5c5c5;
    margin: 0 8px;
    cursor: pointer;
}

.personal-data-buttons__reset {
    cursor: pointer;
    border: 1px solid;
    border-color: #9b59b6;
    border-bottom-width: 2px;
    background: #fff;
    color: #333;
    width: 370px;
}

.personal-data-buttons__reset:hover {
    transform: translateY(-7px);
}